/* Full-width input fields */
@media screen and (min-width: 770px) {
  .container {
    padding: 10px;
    width: 80%;
  }

  .cont1 {
    display: grid;
    grid-template-columns: 1.7fr 9fr 0.8fr 0.8fr;
    place-items: center;
    gap: 20px;
    padding: 10px !important;
  }
}



@media screen and (max-width: 760px) {
  .cont1 {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    place-items: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 20px;
  }
  .img-fluid{
    background-color: #f9f9f9 !important;
  }

  .navbar-toggler {
    display: none !important;
  }
}
